<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义一些常量，可以在后面的配置中进行引用 -->
    <property name="log.dir" value="C:/Home/DataRepository/logs/boluome-web" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 配置文件按天切割 -->
    <appender name="DailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 按天进行日志切割 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--日志文件最大的大小 如果超过了文件大小的限制，则每天的文件会划分为更小的文件-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.zcai.ldc.dao" level="TRACE"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DailyRollingFileAppender"/>
    </root>
</configuration>